<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.showmethe.wanandroid">

    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" /> <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" /> <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.WanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/play"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/play"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.home.ArticleDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.main.ImageShowActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.main.CollectActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.home.SearchActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.auth.SplashActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/short_cut" />
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
    </application>

</manifest>